<template>
  <div class="contact-details-info">
    <div class="section">
      <div class="section-title">
        <i class="far fa-envelope title-icon" />
        <span class="title-label">{{ 'email' | translate }}</span>
      </div>
      <div class="section-body flex-center-v">
        <span>{{ contact.email }}</span>
      </div>
    </div>
    <div class="section">
      <div class="section-title">
        <i class="fa fa-phone-alt title-icon" />
        <span class="title-label">{{ 'numbers' | translate }}</span>
      </div>
      <div class="section-body">
        <ul class="list">
          <li
            v-for="(number, p) in contact.numbers"
            :key="p"
            class="list-item">
            <span class="item-type">{{ number.label }}</span>
            <a
              :href="`tel:${number.phone}`"
              class="item-number">
              {{ number.phone }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactDetailsInfo',
  props: {
    contact: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-details-info {
  padding: 0 20px 0 50px;
  font-size: 1.143rem;

  .section {
    padding-top: 30px;
  }

  .section-title {
    position: relative;
    padding: 10px 0;
    color: #27919d;

    .title-icon {
      position: absolute;
      left: -30px;
      top: 12px;
      color: $color-active;
    }

    .title-label {
      font-weight: $font-bold;
      text-transform: lowercase;
    }
  }

  .list-item {
    padding: 10px 0;

    .item-type {
      display: inline-block;
      width: 120px;
      text-transform: uppercase;
      font-weight: $font-bold;
      font-size: 1rem;
    }

    .item-number {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $break-desktop) {
  .contact-details-info {
    padding: 60px 30px 30px 100px;
  }

  .section {
    display: flex;
  }

  .section-title {
    width: 150px;
  }

  .section-body {
    width: 340px;
  }

  .title-label {
    font-size: 1rem;
  }

  .list-item {
    .item-type {
      font-size: 0.875rem !important;
    }
  }
}
</style>
