<template>
  <div class="contact-details">
    <div class="contact-details-controls flex-center-v">
      <span
        class="icon-arrow-back"
        @click="historyBack()" />
      <span>
        <i
          class="far fa-heart"
          :class="{ 'fas': contact.favorite }"
          @click="toggleFavorite(contact.id)" />
        <i
          class="fa fa-pencil-alt icon-edit"
          @click="editContact(contact.id)" />
      </span>
    </div>
    <div class="details-wrapper">
      <ContactHeader
        :contact="contact"
        @go-back="historyBack()"
        @toggle-favorite="toggleFavorite(contact.id)"
        @edit-contact="editContact(contact.id)" />
      <ContactInfo :contact="contact" />
    </div>
  </div>
</template>

<script>
import historyBack from '@/mixins/historyBack';
import ContactHeader from './ContactDetailsHeader.vue';
import ContactInfo from './ContactDetailsInfo.vue';

export default {
  name: 'ContactDetails',
  components: {
    ContactHeader,
    ContactInfo,
  },
  mixins: [historyBack],
  computed: {
    contact() {
      const { id } = this.$route.params;
      return this.$store.getters.contact(id);
    },
  },
  methods: {
    toggleFavorite(contactId) {
      this.$store.dispatch('toggleFavoriteContact', contactId);
    },
    editContact(contactId) {
      this.$router.push({ name: 'ContactEdit', params: { id: contactId } });
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-details-controls {
  justify-content: space-between;
  padding: 0 30px;
  height: 50px;
  border-bottom: 1px solid #bbc4c3;

  .icon-edit {
    margin-left: 34px;
  }
}

.details-wrapper {
  margin: 0 25px;
}

@media screen and (min-width: $break-desktop) {
  .contact-details-controls {
    display: none;
  }

  .details-wrapper {
    width: 830px;
    margin: 0 auto;
    padding-left: 200px;
    padding-top: 50px;
  }
}
</style>
