<template>
  <div class="contact-details-header flex-center-v">
    <div class="flex-center-v">
      <div class="picture flex-center">
        <img
          v-if="contact.picture"
          :src="contact.picture">
        <i
          v-else
          class="fa fa-user-alt icon-user" />
      </div>
      <span
        class="icon-arrow-back mob-hidden pointer"
        @click="$emit('go-back')" />
      <span class="name">{{ contact.name }}</span>
    </div>
    <div class="mob-hidden">
      <i
        class="far fa-heart i-hover"
        :class="{ 'fas': contact.favorite }"
        @click="$emit('toggle-favorite')" />
      <i
        class="fa fa-pencil-alt icon-edit i-hover"
        @click="$emit('edit-contact')" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactDetailsHeader',
  props: {
    contact: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-details-header {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid $color-active;
  font-weight: $font-bold;

  .mob-hidden {
    display: none;
  }

  .picture {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid rgba(187, 196, 195, 0.3);

    img {
      height: 100%;
      border-radius: 50%;
    }
  }

  .name {
    padding-left: 23px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: $break-desktop) {
  .contact-details-header {
    justify-content: space-between;

    .mob-hidden {
      display: inline-block;
    }

    .picture {
      position: absolute;
      left: -210px;
      top: 0;
      width: 186px;
      height: 186px;
    }

    .icon-user {
      font-size: 3rem;
    }

    .name {
      font-size: 1.75rem;
    }

    .icon-edit {
      margin-left: 40px;
    }
  }
}
</style>
