.btn {
  display: inline-block;
  color: #fff;
  background-color: #bbc4c3;
  padding: 0 60px;
  line-height: 42px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: rgba(#bbc4c3, 0.8);
  }

  &.btn-success {
    background-color: rgba(#2496a2, 0.8);

    &:hover {
      background-color: rgba(#2496a2, 0.6);
    }
  }
}
