.icon-arrow-back {
  width: 21px;
  height: 16px;
  background-image: url('~@/assets/arrow-back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-hover {
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: $color-active;
  }
}
