.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.143rem;
  z-index: 1000;

  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.4);
  }

  .modal-dialog {
    position: relative;
    width: 100%;
    margin: 0 28px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 14px 0 rgba(99,109,255,0.27);
    z-index: 1001;

    .modal-header {
      padding: 0 30px;
      line-height: 60px;
      border-bottom: 1px solid #dcdcdc;
      font-weight: $font-bold;
    }

    .modal-body {
      margin: 30px;
      text-align: center;
    }

    .modal-footer {
      display: flex;
      flex-direction: column-reverse;
      width: fit-content;
      margin: 0 auto;
      padding-bottom: 30px;

      .btn {
        margin-top: 18px;
      }
    }
  }
}

@media screen and (min-width: $break-desktop) {
  .modal {
    font-size: 1rem;

    .modal-dialog {
      width: auto;

      .modal-body {
        width: 420px;
      }

      .modal-footer {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px 30px 30px;

        .btn {
          margin: 0;
        }
      }
    }
  }
}
