*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size-mob;
  font-weight: $font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  color: $color-text;
  text-decoration: none;
}
