<template>
  <div class="contacts">
    <div class="contacts-filters">
      <ContactsNavigation />
      <ContactsSearch />
    </div>
    <RouterView />
  </div>
</template>

<script>
import ContactsNavigation from '@/components/contacts/ContactsNavigation.vue';
import ContactsSearch from '@/components/contacts/ContactsSearch.vue';

export default {
  name: 'Contacts',
  components: {
    ContactsNavigation,
    ContactsSearch,
  },
};
</script>

<style lang="scss" scoped>
.contacts-filters {
  margin: 0 20px;
}

@media screen and (min-width: $break-desktop) {
  .contacts-filters {
    margin: 0 90px;
  }
}
</style>
