<template>
  <div class="c-image-upload flex-center">
    <div
      class="image-preview"
      :class="{ 'hidden': !picture }">
      <img :src="picture">
      <div
        class="overlay"
        @click="removeImage()">
        <i class="fa fa-times icon icon-close" />
      </div>
    </div>
    <div
      class="input-wrapper flex-center"
      :class="{ 'hidden': picture }">
      <i class="fa fa-upload icon icon-upload" />
      <input
        v-if="isInputReset"
        type="file"
        accept="image/*"
        class="input-upload"
        @change="uploadImage($event)">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CImageUpload',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      picture: this.value || '',
      isInputReset: true,
    };
  },
  methods: {
    uploadImage(evt) {
      const image = evt.target.files[0];
      if (!image) return;

      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.picture = e.target.result;
        this.$emit('input', this.picture);
      };
    },
    removeImage() {
      this.picture = '';
      this.$emit('input', this.picture);
      this.resetInput();
    },
    resetInput() {
      this.isInputReset = false;
      this.$nextTick(() => {
        this.isInputReset = true;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.c-image-upload {
  position: relative;
  width: 156px;
  height: 156px;
  border: 3px solid rgba(187,196,195,0.3);
  border-radius: 50%;
  overflow: hidden;
}

.input-wrapper {
  width: 100%;
  background-color: rgba(45,161,173,0.4);
  height: 100%;
}

.input-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.image-preview,
.image-preview > img {
  height: 100%;
}

@media screen and (min-width: $break-desktop) {
  .c-image-upload {
    width: 186px;
    height: 186px;
  }

  input {
    cursor: pointer;
  }
}
</style>
