<template>
  <div class="c-input-complex">
    <div class="c-input-title">
      <i :class="icon" />
      <span class="name">{{ title }}</span>
    </div>
    <ul class="input-list">
      <li
        v-for="(number, n) in numbers"
        :key="n"
        class="input-item"
        :class="{ 'focused': n === focusIndex }">
        <input
          v-model="number.phone"
          type="text"
          :placeholder="'number' | translate"
          @focus="focusIndex = n"
          @focusout="focusIndex = undefined">
        <input
          v-model="number.label"
          type="text"
          :placeholder="'label' | translate"
          @focus="focusIndex = n"
          @focusout="focusIndex = undefined">
        <span
          class="icon icon-close pointer"
          @click="removeNumber(n)">
          <i class="fa fa-times" />
        </span>
      </li>
    </ul>
    <div
      class="c-input-footer flex-center-v pointer"
      @click="addNumber()">
      <span class="icon icon-plus">
        <i class="fa fa-plus" />
      </span>
      <span class="label">{{ 'add_number' | translate }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CInputComplex',
  props: {
    value: {
      type: Array,
      required: true,
    },
    icon: {
      type: String,
      required: false,
      default: 'fa fa-phone-alt',
    },
    title: {
      type: String,
      required: false,
      default: '-',
    },
  },
  data() {
    return {
      focusIndex: undefined,
      numbers: this.value || [],
    };
  },
  methods: {
    addNumber() {
      this.numbers.push({
        phone: '',
        label: '',
      });
    },
    removeNumber(index) {
      this.numbers.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
.c-input-title {
  padding-bottom: 15px;
  color: #27919d;

  .name {
    padding-left: 15px;
    font-weight: $font-bold;
    text-transform: lowercase;
  }
}

input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid rgba(#bbc4c3, 0.3);
  border-radius: 4px;
  font-size: 1.143rem;
}

.input-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  input:first-child {
    margin-bottom: 10px;
  }

  input:nth-child(2) {
    width: calc(100% - 60px);
  }

  &.focused {
    input,
    .icon {
      border-color: #27919d;
    }

    .icon i {
      color: #27919d;
    }
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(#bbc4c3, 0.3);

  i { color: rgba(#bbc4c3, 0.3); }
}

.c-input-footer {
  margin-top: 30px;
  color: #27919d;

  .icon-plus,
  i {
    color: #27919d !important;
    border-color: #27919d !important;
  }

  .label {
    padding-left: 20px;
  }
}

@media screen and (min-width: $break-desktop) {
  input {
    height: 60px;
    font-size: 1rem;
  }
}
</style>
