<template>
  <div class="c-input">
    <div class="c-input-title">
      <i :class="icon" />
      <span class="name">{{ title }}</span>
    </div>
    <input
      v-model="inputValue"
      :type="type"
      :placeholder="placeholder"
      :class="{ 'error': $v.inputValue.$error }"
      @input="onInput">
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  name: 'CInput',
  props: {
    value: {
      type: String,
      required: false,
      default: '',
    },
    icon: {
      type: String,
      required: false,
      default: 'fa fa-question',
    },
    title: {
      type: String,
      required: false,
      default: '-',
    },
    placeholder: {
      type: String,
      required: false,
      default: 'Text',
    },
    type: {
      type: String,
      required: false,
      default: 'text',
      validator: (value) => ['text', 'email'].includes(value),
    },
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      inputValue: this.value || '',
    };
  },
  validations() {
    const inputValue = {};
    if (this.required) inputValue.required = required;
    if (this.type === 'email') inputValue.email = email;

    return { inputValue };
  },
  methods: {
    isValid() {
      this.$v.$touch();
      return !this.$v.inputValue.$error;
    },
    onInput() {
      this.$emit('input', this.inputValue);
    },
  },
};
</script>

<style lang="scss" scoped>
.c-input-title {
  padding-bottom: 15px;
  color: #27919d;

  .name {
    padding-left: 15px;
    font-weight: $font-bold;
    text-transform: lowercase;
  }
}

input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid rgba(#bbc4c3, 0.3);
  border-radius: 4px;
  font-size: 1.143rem;

  &.error {
    color: #f00;
    border-color: #f00;
  }
}

@media screen and (min-width: $break-desktop) {
  input {
    height: 60px;
    font-size: 1rem;
  }
}
</style>
