<template>
  <div class="contact-create">
    <ModalDelete
      ref="modalDelete"
      @confirm="deleteContact(contactId)" />
    <div class="contact-create-controls flex-center-v">
      <span
        class="icon-arrow-back"
        @click="historyBack()" />
      <i
        v-if="isEditMode"
        class="fa fa-trash-alt"
        @click="$refs.modalDelete.open()" />
    </div>
    <div class="sections-wrapper">
      <div class="contact-create-upload">
        <CImageUpload
          v-model="picture" />
      </div>
      <div class="desktop-controls flex-center-v mob-hidden">
        <span
          class="icon-arrow-back pointer"
          @click="historyBack()" />
        <span
          v-if="isEditMode"
          class="delete-label i-hover"
          @click="$refs.modalDelete.open()">
          {{ 'delete' | translate }}
          <i class="fa fa-trash-alt icon-delete" />
        </span>
      </div>
      <div class="section">
        <CInput
          ref="name"
          v-model="name"
          :title="'full_name' | translate"
          :icon="'far fa-user'"
          :placeholder="'full_name' | translate"
          required />
      </div>
      <div class="section">
        <CInput
          ref="email"
          v-model="email"
          :title="'email' | translate"
          :icon="'far fa-envelope'"
          :type="'email'"
          :placeholder="'email' | translate"
          required />
      </div>
      <div class="section">
        <CInputComplex
          v-model="numbers"
          :title="'numbers' | translate" />
      </div>
      <div class="footer flex-center">
        <span
          class="btn"
          @click="historyBack()">
          {{ 'cancel' | translate }}
        </span>
        <span
          class="btn btn-success"
          @click="saveContact()">
          {{ 'save' | translate }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import historyBack from '@/mixins/historyBack';

export default {
  name: 'ContactCreate',
  mixins: [historyBack],
  data() {
    const isEditMode = this.$route.name === 'ContactEdit';
    const contactId = this.$route.params?.id;
    const contact = this.$store.getters.contact(contactId);

    return {
      isEditMode,
      contactId,
      picture: contact.picture || '',
      name: contact.name || '',
      email: contact.email || '',
      numbers: contact.numbers || [],
    };
  },
  methods: {
    uploadImage(evt) {
      const image = evt.target.files[0];
      if (!image) return;

      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        this.picture = e.target.result;
      };
    },
    saveContact() {
      // Check if fields are valid
      let isValid = true;
      Object.keys(this.$refs).forEach((key) => {
        const ref = this.$refs[key];
        if (ref.isValid) {
          const valid = ref.isValid();
          if (!valid) isValid = false;
        }
      });

      if (isValid) {
        const contact = {
          id: this.contactId,
          name: this.name,
          email: this.email,
          picture: this.picture,
          numbers: this.numbers,
        };

        // Create fresh contact or update existing
        if (!this.isEditMode) {
          this.$store.dispatch('createContact', contact);
          this.$router.push('/');
        } else {
          this.$store.dispatch('updateContact', contact);
          this.historyBack();
        }
      }
    },
    deleteContact(contactId) {
      this.$store.dispatch('deleteContact', +contactId);
      if (this.$route.name === 'ContactEdit') {
        this.$router.push('/');
      } else {
        this.historyBack();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.mob-hidden {
  display: none;
}

.contact-create-controls {
  justify-content: space-between;
  padding: 0 30px;
  height: 50px;
  border-bottom: 1px solid #bbc4c3;
}

.contact-create-upload {
  .c-image-upload {
    margin: 22px auto;
  }
}

.sections-wrapper {
  margin: 0 25px;
}

.section {
  padding: 26px 0;
  border-top: 1px solid $color-active;
}

.footer {
  padding: 20px 10px;

  .btn-success {
    margin-left: 10px;
  }
}

@media screen and (min-width: $break-desktop) {
  .contact-create-controls {
    display: none;
  }

  .mob-hidden {
    display: flex;
  }

  .desktop-controls {
    padding: 0 10px 20px 10px;
    justify-content: space-between;

    .icon-arrow-back {
      display: inline-block;
    }

    .delete-label {
      font-size: 0.875rem;
    }

    .icon-delete {
      padding-left: 10px;
      font-size: 1rem;
    }
  }

  .sections-wrapper {
    position: relative;
    width: 830px;
    margin: 0 auto;
    padding-left: 200px;
    padding-top: 110px;

    .contact-create-upload {
      position: absolute;
      left: 0;
      top: 25px;
    }

    .footer {
      justify-content: space-between;
      padding-top: 40px;
    }
  }

  :deep {
    .c-input,
    .c-input-complex {
      input {
        width: 300px !important;
      }
    }

    .c-input-complex {
      .input-item input:first-child {
        margin: 0;
      }
      .input-item input:nth-child(2) {
        width: 240px !important;
      }
    }
  }
}
</style>
