<template>
  <transition name="fade">
    <div
      v-if="show"
      class="modal">
      <div
        class="modal-backdrop"
        @click.stop="close()" />
      <div class="modal-dialog">
        <div class="modal-header">
          {{ 'delete' | translate }}
        </div>
        <div class="modal-body">
          <span>{{ 'modal_delete_info' | translate }}</span>
        </div>
        <div class="modal-footer">
          <span
            class="btn"
            @click.stop="close()">
            {{ 'cancel' | translate }}
          </span>
          <span
            class="btn btn-success"
            @click.stop="$emit('confirm')">
            {{ 'delete' | translate }}
          </span>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ModalDelete',
  data() {
    return {
      show: false,
    };
  },
  methods: {
    open() {
      this.show = true;
      document.querySelector('body').classList.add('no-scroll');
    },
    close() {
      this.show = false;
      document.querySelector('body').classList.remove('no-scroll');
    },
  },
};
</script>
