// Fade animation (modals)
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Route animation
.fade-route-enter-active,
.fade-route-leave-active {
  transition-property: opacity;
  transition-duration: .1s;
}

.fade-route-enter-active {
  transition-delay: .1s;
}

.fade-route-enter,
.fade-route-leave-active {
  opacity: 0
}

// List animation
.list-transition-enter-active,
.list-transition-leave-active {
  transition: all 0.2s;
}

.list-transition-enter,
.list-transition-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
