.pointer {
  cursor: pointer;
}

.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-noshrink {
  flex-shrink: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.hidden {
  display: none;
}
