// Breakpoints
$break-desktop: 800px !default;

// Font
$font-size-mob: 14px !default;
$font-size-desktop: 16px !default;
$font-family: 'Lato', sans-serif !default;
$font-light: 300 !default;
$font-normal: 400 !default;
$font-bold: 700 !default;

// Colors
$color-text: #bbc4c3 !default;
$color-active: #2da1ad !default;
