<template>
  <div id="app">
    <MainHeader />
    <transition
      name="fade-route">
      <RouterView />
    </transition>
  </div>
</template>

<script>
import MainHeader from '@/components/main-header/MainHeader.vue';

export default {
  name: 'App',
  components: {
    MainHeader,
  },
  mounted() {
    this.$store.dispatch('getContacts');
  },
};
</script>

<style lang="scss">
@import './scss/main.scss';

#app {
  width: 100%;
  min-height: 100vh;
}

@media screen and (min-width: $break-desktop) {
  html,
  body {
    font-size: $font-size-desktop;
  }
}
</style>
