<template>
  <div class="contact flex-center-v">
    <ModalDelete
      ref="modalDelete"
      @confirm="deleteContact(contact.id)" />
    <div class="contact-info">
      <div class="contact-info-pic flex-center">
        <img
          v-if="contact.picture"
          :src="contact.picture">
        <i
          v-else
          class="fa fa-user-alt user-icon" />
      </div>
      <span class="contact-info-name">{{ contact.name }}</span>
    </div>
    <div class="contact-controls flex-center-v">
      <i
        class="far fa-heart i-hover"
        :class="{ 'fas': contact.favorite }"
        @click.stop="toggleFavorite(contact.id)" />
      <span class="hidden-controls">
        <i
          class="fa fa-pencil-alt i-hover"
          @click.stop="editContact(contact.id)" />
        <i
          class="far fa-trash-alt icon-delete i-hover"
          @click.stop="$refs.modalDelete.open()" />
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact',
  props: {
    contact: {
      type: Object,
      required: true,
    },
  },
  methods: {
    toggleFavorite(contactId) {
      this.$store.dispatch('toggleFavoriteContact', contactId);
    },
    editContact(contactId) {
      this.$router.push({ name: 'ContactEdit', params: { id: contactId } });
    },
    deleteContact(contactId) {
      this.$store.dispatch('deleteContact', contactId);
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-info {
  display: flex;
  align-items: center;
  padding: 0 13px;
  width: calc(100% - 137px);

  .contact-info-pic {
    width: 46px;
    height: 46px;
    border: 3px solid rgba(187, 196, 195, 0.3);
    border-radius: 50%;

    img {
      height: 100%;
      border-radius: 50%;
    }

    .user-icon {
      font-size: 1.125rem;
    }
  }

  .contact-info-name {
    padding-left: 25px;
    font-weight: $font-bold;
  }
}

.contact-controls {
  i {
    padding: 16px;
  }
}

@media screen and (min-width: $break-desktop) {
  .contact {
    &:hover .hidden-controls {
      opacity: 1;
    }
  }

  .contact-info {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;

    .contact-info-name {
      display: block;
      width: 100%;
      padding: 10px 0 0 0;
      font-size: 1.125rem;
    }

    .contact-info-pic {
      width: 66px;
      height: 66px;
    }
  }

  .contact-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 17px;
    justify-content: space-between;

    .hidden-controls {
      opacity: 0;
      transition: opacity 0.2s linear;
    }

    i {
      padding: 0;
      cursor: pointer;
    }

    .icon-delete {
      margin-left: 26px;
    }
  }
}
</style>
