<template>
  <div class="contacts-search flex-center">
    <div class="search-wrapper flex-center-v">
      <i class="fas fa-search icon-search" />
      <input
        v-model="searchVal"
        type="search"
        class="search-input"
        @input="onValueChange">
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactsSearch',
  data() {
    const { searchValue } = this.$store.getters;
    return {
      searchVal: searchValue || '',
    };
  },
  methods: {
    onValueChange() {
      this.$store.dispatch('updateSearchValue', this.searchVal);
    },
  },
};
</script>

<style lang="scss" scoped>
.contacts-search {
  padding: 23px 0;
}

.search-wrapper {
  position: relative;
  height: 50px;
  width: 100%;

  .icon-search {
    position: absolute;
    left: 15px;
  }

  .search-input {
    height: 100%;
    width: 100%;
    padding: 0 20px 0 40px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 2px 34px 0 #e3e3e3;
  }
}

@media screen and (min-width: $break-desktop) {
  .contact-search {
    padding: 58px 0;
  }

  .search-wrapper {
    width: 540px;
    height: 60px;
  }
}
</style>
