<template>
  <nav class="navigation flex-center">
    <ul class="navigation-items">
      <li
        v-for="(item, i) in navigation"
        :key="i"
        class="item"
        :class="{ 'active': isRouteActive(item.routeName) }"
        @click="selectNavItem(item.routeName)">
        {{ item.name | translate }}
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'ContactsNavigation',
  data() {
    return {
      navigation: [{
        name: 'contacts_all',
        routeName: 'ContactsAll',
      }, {
        name: 'contacts_favorite',
        routeName: 'ContactsFavorites',
      }],
    };
  },
  methods: {
    isRouteActive(routeName) {
      return this.$route.name === routeName;
    },
    selectNavItem(routeName) {
      if (this.isRouteActive(routeName)) return;

      this.$router.push({ name: routeName });
    },
  },
};
</script>

<style lang="scss" scoped>
.navigation {
  height: 50px;
  border-bottom: 1px solid $color-active;
}

.navigation-items {
  .item {
    position: relative;
    float: left;
    padding: 0 30px;
    font-weight: $font-bold;
  }

  .item.active {
    color: $color-active;
  }

  .item:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 15px;
    background-color: #bbc4c3;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: $break-desktop) {
  .navigation {
    height: 120px;
  }

  .navigation-items {
    font-size: 1.125rem;

    .item {
      cursor: pointer;
      transition: color 0.2s ease;
    }

    .item:hover {
      color: rgba($color-active, 0.8);
    }
  }
}
</style>
