<template>
  <div class="contacts-list">
    <transition-group
      name="list-transition"
      tag="div">
      <div
        v-if="routeName === 'ContactsAll'"
        :key="'contacts-all'"
        class="contact contact-empty flex-center-v"
        @click="createContact()">
        <div class="content">
          <i class="fa fa-plus icon-plus" />
          <p class="info">
            {{ 'add_new' | translate }}
          </p>
        </div>
      </div>
      <Contact
        v-for="contact in contacts"
        :key="contact.id"
        :contact="contact"
        class="contact"
        @click.native="goToContactDetails(contact.id)" />
    </transition-group>
  </div>
</template>

<script>
import Contact from './ContactsListItem.vue';

export default {
  name: 'ContactsList',
  components: {
    Contact,
  },
  data() {
    return {
      routeName: this.$route.name,
    };
  },
  computed: {
    contacts() {
      const isFavorite = {
        ContactsAll: false,
        ContactsFavorites: true,
      }[this.routeName];

      return this.$store.getters.filteredContacts(isFavorite);
    },
  },
  watch: {
    $route(to) {
      this.routeName = to.name;
    },
  },
  methods: {
    goToContactDetails(contactId) {
      this.$router.push({ name: 'ContactDetails', params: { id: contactId } });
    },
    createContact() {
      this.$router.push({ name: 'ContactCreate' });
    },
  },
};
</script>

<style lang="scss" scoped>
.contacts-list,
.contacts-list > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.contact {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 0 10px 10px 10px;
  border: 1px solid rgba(187, 196, 195, 0.4);
  border-radius: 4px;

  &.contact-empty {
    color: rgba($color-active, 0.5);
    border-color: rgba($color-active, 0.5);
    border-style: dashed;

    .content {
      display: flex;
      padding-left: 25px;

      .icon-plus {
        font-size: 1.325rem;
      }

      .info {
        padding-left: 20px;
      }
    }
  }
}

@media screen and (min-width: $break-desktop) {
  .contacts-list {
    margin: 0 auto;
    width: 600px;
  }

  .contact {
    position: relative;
    width: 270px;
    height: 150px;
    margin: 15px;
    cursor: pointer;

    &:hover {
      border-color: $color-active;
    }

    &.contact-empty {
      .content {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
        text-align: center;

        .info {
          width: 100%;
          padding: 10px 0 0 0;
        }
      }
    }
  }
}

@media screen and (min-width: $break-desktop + 300) {
  .contacts-list { width: 900px;}
}

@media screen and (min-width: $break-desktop + 600) {
  .contacts-list { width: 1200px;}
}
</style>
