<template>
  <header class="main-header flex-center">
    <img
      src="@/assets/logo.png"
      alt="Logo"
      class="logo"
      @click="goToHome()">
    <div class="border" />
  </header>
</template>

<script>
export default {
  name: 'MainHeader',
  methods: {
    goToHome() {
      if (this.$route.name !== 'ContactsAll') {
        this.$router.push({ name: 'ContactsAll' });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.main-header {
  position: sticky;
  top: 0;
  height: 50px;
  background: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);
  z-index: 1000;
}

.logo {
  height: 17px;
  cursor: pointer;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7px;
  background-color: rgba(#fff, 0.3);
}

@media screen and (min-width: $break-desktop) {
  .main-header {
    height: 60px;
  }

  .logo {
    height: 20px;
  }
}
</style>
